@import "variables.scss";

html{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#navbar{
  background-color: darkgreen;
  flex-wrap: wrap;
  font-style: italic;
}

#navbar-nav{
  padding: 0 30px;
  font-size: 20px;
}

#navbar-nav:hover{
  display: block;
  color: red;
  background-color: indianred;
  border-radius: 25px;
  box-shadow: 0 0 10px aqua;
}

#main{
  margin: 15px 30px;
}



/* Завершить верстку главной страницы. Заняться версткой Notes и Labels
*/